integrations/n8n-cloud/workflows/create-transaction.json
{
  "name": "Finappka: Create Transaction",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "amount_rub",
              "value": 500
            }
          ],
          "string": [
            {
              "name": "direction",
              "value": "expense"
            },
            {
              "name": "account_id",
              "value": "REPLACE_WITH_YOUR_ACCOUNT_ID"
            },
            {
              "name": "category_id",
              "value": "REPLACE_WITH_YOUR_CATEGORY_ID"
            },
            {
              "name": "note",
              "value": "Тестовая транзакция из n8n Cloud"
            }
          ]
        },
        "options": {}
      },
      "id": "set-data",
      "name": "Set Transaction Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Конвертируем рубли в копейки\nconst amountRub = $json.amount_rub;\nconst amountKopeks = Math.round(amountRub * 100);\n\nreturn [{\n  json: {\n    amount: amountKopeks,\n    direction: $json.direction,\n    account_id: $json.account_id,\n    category_id: $json.category_id,\n    occurred_at: new Date().toISOString(),\n    note: $json.note\n  }\n}];"
      },
      "id": "code-convert",
      "name": "Convert to Kopeks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FINAPPKA_BASE_URL}}/api/v1/transactions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "amount",
              "value": "={{ $json.amount }}"
            },
            {
              "name": "direction",
              "value": "={{ $json.direction }}"
            },
            {
              "name": "account_id",
              "value": "={{ $json.account_id }}"
            },
            {
              "name": "category_id",
              "value": "={{ $json.category_id }}"
            },
            {
              "name": "occurred_at",
              "value": "={{ $json.occurred_at }}"
            },
            {
              "name": "note",
              "value": "={{ $json.note }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-create",
      "name": "Create Transaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Finappka API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Форматируем ответ для удобства\nconst tx = $input.all()[0].json.transaction;\n\nreturn [{\n  json: {\n    success: true,\n    transaction_id: tx.id,\n    amount_rub: (tx.amount / 100).toFixed(2),\n    direction: tx.direction,\n    category: tx.category?.name,\n    account: tx.account?.name,\n    note: tx.note,\n    created_at: tx.created_at\n  }\n}];"
      },
      "id": "code-format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Set Transaction Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Transaction Data": {
      "main": [
        [
          {
            "node": "Convert to Kopeks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Kopeks": {
      "main": [
        [
          {
            "node": "Create Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Transaction": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-23T00:00:00.000Z",
      "updatedAt": "2024-10-23T00:00:00.000Z",
      "id": "finappka",
      "name": "finappka"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-10-23T00:00:00.000Z",
  "versionId": "1"
}
