integrations/n8n-cloud/workflows/get-transactions.json
{
  "name": "Finappka: Get Transactions",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.FINAPPKA_BASE_URL}}/api/v1/transactions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "Get Transactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Finappka API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Преобразуем копейки в рубли для удобства\nconst transactions = $input.all()[0].json.transactions || [];\n\nreturn transactions.map(tx => ({\n  json: {\n    id: tx.id,\n    amount_rub: (tx.amount / 100).toFixed(2),\n    amount_kopeks: tx.amount,\n    direction: tx.direction,\n    category: tx.category?.name || 'No category',\n    account: tx.account?.name || 'No account',\n    note: tx.note || '',\n    date: tx.occurred_at,\n    created_at: tx.created_at\n  }\n}));"
      },
      "id": "code",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Get Transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transactions": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-23T00:00:00.000Z",
      "updatedAt": "2024-10-23T00:00:00.000Z",
      "id": "finappka",
      "name": "finappka"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-10-23T00:00:00.000Z",
  "versionId": "1"
}
